In [1]:
import pandas as pd
import numpy as np
from sqlalchemy import create_engine
import os

In [14]:
import pandas as pd
import numpy as np
from sqlalchemy import create_engine

In [2]:
def ingest_db(df,table_name,engine):
    df.to_sql(table_name,con = engine , if_exists = "replace",index = False)

In [4]:
path = r'C:\Users\chouh\Desktop\python\assignment\Vendar data analysis\data\data'
# this function will load the csv's as dataframe and ingest into db.
for file in os.listdir(path):
    if file.endswith('.csv'):
        full_path = os.path.join(path, file)
        df = pd.read_csv(full_path)  # sample rows
        print(file, df.shape)
        ingest_db(df, file[:-4], engine)

begin_inventory.csv (206529, 9)

NameError: name 'engine' is not defined

In [ ]:
engine = create_engine('sqlite:///inventory.db')                 
# this function will ingest the dataframe into data base table
def ingest_db(df, table_name, engine):                        
    df.to_sql(table_name, con=engine, if_exists='replace', index=False)

In [12]:
import sqlite3

conn = sqlite3.connect('inventory.db')
tables = pd.read_sql_query("SELECT name FROM sqlite_master WHERE type='table'", conn)
print(tables)

                   name
0       begin_inventory
1         end_inventory
2             purchases
3       purchase_prices
4                 sales
5        vendor_invoice
6  vendor_sales_summary

In [13]:
pd.read_sql("select * from vendor_sales_summary limit 2",conn)

,VendorNumber,VendorName,Brand,Description,PurchasePrice,ActualPrice,Volume,TotalPurchaseQuantity,TotalPurchaseDollars,TotalSalesQuantity,TotalSalesDollars,TotalSalesPrice,TotalExciseTax,FreightCost,GrossProfit,ProfitMargin,StockTurnover,SalesToPurchaseRadio
0,1128,BROWN-FORMAN CORP,1233,Jack Daniels No 7 Black,26.27,36.99,1750.0,145080,3811251.60,142049.0,5101919.51,672819.31,260999.20,68601.68,1290667.91,25.297693,0.979108,1.338647
1,4425,MARTIGNETTI COMPANIES,3405,Tito's Handmade Vodka,23.19,28.99,1750.0,164038,3804041.22,160247.0,4819073.49,561512.37,294438.66,144929.24,1015032.27,21.062810,0.976890,1.266830

In [5]:
import pandas as pd
from sqlalchemy import create_engine
engine = create_engine('sqlite:///inventory.db')

# Database connection (example: PostgreSQL)

# Final table ko SQL se DataFrame me lao
df = pd.read_sql("SELECT * FROM vendor_sales_summary", engine)

print(df.head())   # check sample

   VendorNumber                VendorName  Brand              Description  \
0          1128         BROWN-FORMAN CORP   1233  Jack Daniels No 7 Black
1          4425     MARTIGNETTI COMPANIES   3405    Tito's Handmade Vodka
2         17035         PERNOD RICARD USA   8068         Absolut 80 Proof
3          3960  DIAGEO NORTH AMERICA INC   4261   Capt Morgan Spiced Rum
4          3960  DIAGEO NORTH AMERICA INC   3545          Ketel One Vodka

   PurchasePrice  ActualPrice  Volume  TotalPurchaseQuantity  \
0          26.27        36.99  1750.0                 145080
1          23.19        28.99  1750.0                 164038
2          18.24        24.99  1750.0                 187407
3          16.17        22.99  1750.0                 201682
4          21.89        29.99  1750.0                 138109

   TotalPurchaseDollars  TotalSalesQuantity  TotalSalesDollars  \
0            3811251.60            142049.0         5101919.51
1            3804041.22            160247.0         4819073.49
2            3418303.68            187140.0         4538120.60
3            3261197.94            200412.0         4475972.88
4            3023206.01            135838.0         4223107.62

   TotalSalesPrice  TotalExciseTax  FreightCost  GrossProfit  ProfitMargin  \
0        672819.31       260999.20     68601.68   1290667.91     25.297693
1        561512.37       294438.66    144929.24   1015032.27     21.062810
2        461140.15       343854.07    123780.22   1119816.92     24.675786
3        420050.01       368242.80    257032.07   1214774.94     27.139908
4        545778.28       249587.83    257032.07   1199901.61     28.412764

   StockTurnover  SalesToPurchaseRadio
0       0.979108              1.338647
1       0.976890              1.266830
2       0.998575              1.327594
3       0.993703              1.372493
4       0.983556              1.396897